  .typewriter {
  font-family: "Courier";
  font-size: 42px;
  white-space: nowrap;
  overflow: hidden;
  width: 7.35em;
  opacity: 0;
  -webkit-animation: type 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  @keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  }
  
  @-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  }
  
  @keyframes blink {
  50% {
    border-color: transparent;
  }
  }
  @-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
  }
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

.fade-top {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.filterDiv {
  float: left;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 5px;
  min-height: 260px;
}

.bigcontainer {
  min-height: 300px
}

.nav-button {
  border: none ;
  display: inline-block ;
  padding: 8px 16px ;
  vertical-align: middle ;
  overflow: hidden ;
  text-decoration: none ;
  color: inherit ;
  background-color: inherit ;
  text-align: center ;
  cursor: pointer ;
  white-space: nowrap ;
  -webkit-touch-callout: none ;
  -webkit-user-select: none ;
  -khtml-user-select: none ;
  -moz-user-select: none ;
  -ms-user-select: none ;
  user-select: none ;
  filter: opacity(50%) ;
}

.nav-block {
  border: none ;
  display: inline-block ;
  padding: 8px 16px ;
  vertical-align: middle ;
  overflow: hidden ;
  text-decoration: none ;
  color: inherit ;
  background-color: inherit ;
  text-align: center ;
  cursor: pointer ;
  white-space: nowrap ;
  -webkit-touch-callout: none ;
  -webkit-user-select: none ;
  -khtml-user-select: none ;
  -moz-user-select: none ;
  -ms-user-select: none ;
  user-select: none ;
}

.bottom-button {
  border: none !important;
  display: inline-block !important;
  padding: 8px 16px !important;
  vertical-align: middle !important;
  overflow: hidden !important;
  text-decoration: none !important;
  color: inherit !important;
  background-color: inherit !important;
  text-align: center !important;
  cursor: pointer !important;
  white-space: nowrap !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}



@media (prefers-color-scheme: light) {
  @media (min-width:993px) {
    nav {
      border: 2px;
      border-color: rgb(149, 152, 202);
      border-style: none dotted none none !important;
    }
  }
  h1 {
    color: #172d42;
  }
  .typewriter {
    border-right: .15em solid rgb(0, 195, 255);
  }
  .nav-button:hover {
  color:#1c82a1 !important;
  }
  body {
    color: rgb(0, 0, 0) !important;
    background-color: white !important;
  }
  nav {
    color: #000 !important;
    background-color: rgb(242, 252, 255) !important;
  }
  .nav-block:hover, .bottom-button:hover {
    color:#000!important;
    background-color:rgb(202, 235, 255)!important
  }
  .title-top-bottom {
    border-top: 6px solid rgb(239, 239, 239) !important;
    border-bottom: 6px solid rgb(239, 239, 239) !important;
  }
  .btn {
    border: solid rgb(9, 33, 61);
    border-width: 1px;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    background-color:rgb(246, 255, 255);
  }
  .btn:hover {
      background-color: rgb(202, 235, 255);
  }
  .btn.active {
      background-color: rgb(44, 93, 148);
      color: rgb(245, 245, 245);
  }
  @media (max-width:600px) {
    .btn {
      border-radius: 1px !important;
      background-color:rgb(241, 255, 255) !important;
    }
    .btn:hover {
      background-color: rgb(202, 235, 255) !important;
    }
    .btn.active {
        background-color: rgb(44, 93, 148) !important;
        color: rgb(245, 245, 245) !important;
    }
  }  
  .vids {
    /* color: #000 !important;
    background-color: rgb(255, 255, 255) !important; */
    border-style: hidden dotted dotted;
  }
  .about-me {
    background-color: rgb(247, 254, 255);
  }
  .skills-full {
    color: #000 !important;
    background-color: rgb(182, 220, 243) !important;
  }
  .skills-bar {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(109, 160, 219) !important;
  }
  /* .contact {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  } */
  .contact-location {
    color: #fff !important;
    background-color: #5f7dbd !important;
  }
  .contact-details {
    color: rgb(0, 0, 0) !important;
    background-color: #d5f0ff !important;
  }
  .contact-icon {
    color: #f1f1f1 !important;
  }
  footer {
    color: #fff !important;
    background-color: #172d42 !important;
  }
  #myBtn {
    color: #172d42;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    cursor: auto; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border: none;
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background-color: transparent;
  }  
  pre {
    background-color:rgb(253, 253, 253)
  }
}
  
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(39, 39, 39);
        color: white;
    }
    .nav-button:hover {
      filter: opacity(0.9) !important;
      }
    nav {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(71, 71, 71) !important;
    }
    .typewriter {
      border-right: .15em solid rgb(255, 255, 255);
    }
    .invert {
      filter: invert(100%);
      overflow: hidden;
    }
    .nav-block:hover {
      color:rgb(224, 224, 224)!important;
      background-color:rgb(29, 29, 29)!important
    }
    .title-top-bottom {
      border-top:6px solid rgb(97, 97, 97)!important;
      border-bottom:6px solid rgb(82, 82, 82)!important
    }
    .tittle-bottom {
      border-bottom:6px solid rgb(82, 82, 82)!important
    }
    #myBtn {
      color: rgb(209, 209, 209) ;
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      outline: none; /* Remove outline */
      cursor: auto; /* Add a mouse pointer on hover */
      padding: 10px; /* Some padding */
      border: none;
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
      background-color: transparent;
    }
    .btn {
      border: none;
      outline: none;
      padding: 12px;
      border-radius: 10px;
      background-color:rgb(112, 112, 112);
      color: #fff;
    }
    
    .btn:hover {
        background-color: rgb(141, 141, 141);
        color: white;
    }
    .btn.active {
        background-color: rgb(255, 255, 255);
        color: rgb(56, 56, 56);
    }

    .vids {
      background-color:rgb(58, 58, 58)!important;
    }
    .about-me {
      background-color: #3d3d3d;
    }
    .skills-full {
      color: #000 !important;
      background-color: #808080 !important;
    }
    .skills-bar {
      color: #fff !important;
      background-color: #616161 !important;
    }
    .contact-location {
      color: #fff !important;
      background-color: #464646 !important;
    }
    .contact-details {
      color: #fff !important;
      background-color: #616161 !important;
    }
    .contact-icon {
      color: #f1f1f1 !important;
    }
    .bottom-button:hover {
      color:rgb(0, 0, 0)!important;
      background-color:rgb(199, 199, 199)!important
    }
    footer {
      color:rgb(0, 0, 0)!important;
      background-color:rgb(209, 209, 209)!important 
    }
    pre {
      background-color:rgb(75, 75, 75)
    }
  }    